# Stash your threat lists here
https://blocklist.greensnow.co/greensnow.txt
https://ransomwaretracker.abuse.ch/downloads/RW_DOMBL.txt
https://www.malwaredomainlist.com/hostslist/mdl.xml
https://raw.githubusercontent.com/stamparm/ipsum/master/ipsum.txt
https://rules.emergingthreats.net/blockrules/compromised-ips.txt
https://cinsscore.com/list/ci-badguys.txt
https://isc.sans.edu/feeds/suspiciousdomains_Low.txt
https://myip.ms/files/blacklist/general/latest_blacklist.txt
https://www.dshield.org/ipsascii.html?limit=10000
https://github.com/firehol/blocklist-ipsets/blob/master/firehol_level1.netset
https://ransomwaretracker.abuse.ch/downloads/RW_IPBL.txt
https://cybercrime-tracker.net/all.php
https://check.torproject.org/torbulkexitlist
https://www.stopforumspam.com/downloads/toxic_domains_whole.txt
